<div class="container">
<h1>Your message</h1><br>
<h3><%= @decrMsgBody %></h3>
<p>
<%if @message.timer == true %>
Message will be deleted afther <%= Time.at((@message.expires_at - Time.now).to_i).strftime("%M minutes and %S seconds")%>
<%else%>
This message will be deleted after you refresh the page or try open it again!
<%end%>
</div>